/*******************************
 * ORIENTATION-DEPENDANT RULES *
 *******************************/

@media (orientation: landscape) {
  html {
    font-size: 2.5vh;
  }
  svg {
    width: 2.5vh;
    height: 2.5vh;
  }

  .controls-container {
    padding: 3rem 2rem 7.5rem 2rem;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 1.75vh;
  }

  svg {
    width: 1.75vh;
    height: 1.75vh;
  }

  .controls-container {
    padding: 3rem 2rem;
  }
}

/*****************
 * GENERAL RULES *
 *****************/

body {
  background: goldenrod;
  font-family: "Lato", sans-serif;
}

.p1-scoreboard {
  background: whitesmoke;
}

.p2-scoreboard {
  background: white;
}

.round-score-container {
  width: 5.5rem;
  height: 4rem;
  font-size: 0.75rem;
  background-color: indianred;
}

svg {
  color: indianred;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: indianred;
}

.controls-container span {
  padding-left: 0.75rem;
}

.game-controls {
  height: 4rem;
}

.active-dot {
  position: absolute;
  display: inline;
  margin-left: 1rem;
  margin-top: 1.25rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: indianred;
}

.darken-control {
  color: lightgray;
  cursor: default;
}

.darken-control svg {
  color: lightgray;
}

.darken-control:hover {
  color: lightgray;
}

/**************************
 * DYNAMIC ELEMENTS RULES *
 **************************/

#dice {
  height: 4rem;
  width: 4rem;
  background: white;
  border-radius: 10%;
}

#player-name {
  font-size: 2rem;
}

#player-global-score {
  font-size: 3.5rem;
  color: indianred;
}

#player-round-score {
  color: white;
  font-size: 1.5rem;
}

/*********************************************************
 * DICE SPECIFIC BEHAVIOUR                               *
 * Inspired from :                                       *
 * https://dev.to/ekeijl/creating-dice-using-css-grid-j4 *
 *********************************************************/

#dice-face {
  display: grid;
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";

  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  padding: 0.25rem;
}

.dice-dot {
  display: block;
  align-self: center;
  justify-self: center;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: indianred;
}

.dice-dot:nth-child(2) {
  grid-area: b;
}
.dice-dot:nth-child(3) {
  grid-area: c;
}
.dice-dot:nth-child(4) {
  grid-area: d;
}
.dice-dot:nth-child(5) {
  grid-area: e;
}
.dice-dot:nth-child(6) {
  grid-area: f;
}
.dice-dot:nth-child(odd):last-child {
  grid-area: g;
}
